NODE_ENV=
PORT=
HOST=
SESSION_SECRET=
PUBLIC_ORIGIN=
ALLOWED_ORIGINS=
TRUST_PROXY=
DRAIN_TIMEOUT_MS=10000
EMPTY_LOBBY_EXPIRY_MS=1200000
MAX_MESSAGE_BYTES=8192
MAX_BUFFERED_BYTES=524288
MAX_SOCKETS_PER_IP=64
MAX_SOCKETS=4000
